@import '../../styles/variables';

.btn-theme {
	position: fixed;
	bottom: 90px;
	background-color: $quaternary-color;
	right: 40px;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:active {
		filter: blur(1px);
	}

	.layout.light & {
		background-color: $secondary-color;
	}

	svg {
		user-select: none;
		width: 30px;
		height: 30px;
		cursor: pointer;
		filter: blur(0);
	}

	.layout.light & {
		color: $white-color;
	}
}
