@mixin skeleton-animation-style {
	background: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0) 40%,
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 60%
		)
		rgb(51, 57, 88);
	background-size: 200% 100%;
	background-position-x: 180%;
	animation: 1.2s skeleton-loading ease-in-out infinite;
}

@keyframes skeleton-loading {
	to {
		background-position-x: -20%;
	}
}
