@import url('https://fonts.cdnfonts.com/css/space-mono');

// dark colors
$primary-color: #191d2b;
$secondary-color: #27ae60;
$tertiary-color: #6e5ef8;
$tertiary-color-dark: #1e1568;
$quaternary-color: #171433;
$white-color: #ffffff;
$black-color: #000;

// light-colors
$primary-color-light: #ffffff;
$secondary-color-light: #f56692;
$white-color-light: #454e56;

//fonts

$font-1: 'Gilroy-Bold', sans-serif;
$font-2: 'Gilroy-Regular', sans-serif;
$font-3: 'Gilroy-Light', sans-serif;
$font-4: 'Gilroy-Heavy', sans-serif;
$font-5: 'Gilroy-Medium', sans-serif;
$font-text-1: 'Space Mono', sans-serif;

// size
$size-base: 14px;
$size-large: 1.8em;

// transition
$trans-1: all ease 0.2s;

$desktop-width: 900px;
