// dark colors
$primary-color: #191d2b;
$secondary-color: #27ae60;
$tertiary-color: #6e5ef8;
$quaternary-color: #171433;
$white-color: #ffffff;
$black-color: #000;

// light-colors
.light-mode {
	$primary-color: #ffffff;
	$secondary-color: #f56692;
	$white-color: #454e56;
	$black-color: #000;
}
