@import '@styles/_variables.scss';

.contact {
	&__form {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;

		&--name {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
		}
		&--message {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}

		input {
			height: 30px;
			width: 100%;
			outline: none;
			border: solid 1px $tertiary-color;
			border-radius: 5px;
			background-color: transparent;
			color: $tertiary-color;
		}

		textarea {
			max-height: 100px;
			min-height: 100px;
			width: 100%;
			outline: none;
			border: solid 1px #ccc;
			border-radius: 5px;
			background-color: transparent;
			border: solid 1px $tertiary-color;
			color: $tertiary-color;
		}

		label {
			font-size: 16px;
			font-weight: bold;
			color: $secondary-color;
		}

		button {
			background-color: $secondary-color;
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 10px;
			font-size: 16px;
			font-weight: bold;
			cursor: pointer;
			width: 200px;
		}
	}
}
