@import '@styles/_variables.scss';

.contact {
	max-width: 900px;

	&__social {
		border-radius: 20px;
		box-shadow: $tertiary-color 0px 0px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		display: flex;
		flex-direction: column;
		padding-bottom: 100px;
	}

	&__icons {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	p {
		font-size: 1.4em;
		padding: 20px;
	}
}

.icon-card {
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-radius: 10px;
	background-color: #0e76a8;
	transition: $trans-1;
	&:hover {
		background-color: $tertiary-color-dark;
	}

	&__linkedin {
		fill: white;
	}
	&__mail {
		fill: white;
	}
}
