@import '@styles/variables';

.home {
	@media (min-width: 768px) {
		margin-top: 30px;
		&__about-me {
			max-width: $desktop-width;
			margin: 0 auto;
		}
		&__presentation {
			font-size: 1.2em;
		}
	}

	&__presentation {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
		text-align: center;
		font-size: 0.8em;
		padding: 10px;

		span {
			color: $secondary-color;
		}

		@media (min-width: 768px) {
			max-width: $desktop-width;
			margin: 0 auto;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			font-size: 1em;
			gap: 5px;
		}
	}

	&__image {
		min-width: 230px;
		img {
			box-shadow: 2px 3px 35px -18px rgba(0, 0, 0, 0.76);
			border-radius: 5px;
			min-width: 230px;
			max-width: 230px;
			height: 230px;
			background: rgb(25, 29, 43);
			background: linear-gradient(0deg, rgba(25, 29, 43, 1) 27%, rgba(52, 72, 139, 1) 100%);
			object-fit: cover;
			object-position: 0 1px;
			filter: grayscale(25%);
		}
	}

	&__social {
		margin-top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			text-decoration: none;
		}

		svg {
			width: 50px;
			height: 50px;
		}
	}
	&__github {
		fill: $white-color;

		.layout.light & {
			fill: $primary-color;
		}
	}

	&__linkedin {
		fill: #0e76a8;
	}

	&__about-me {
		margin-top: 30px;
		p {
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 20px;
			strong {
				font-size: 20px;
				font-family: $font-1;
				letter-spacing: 5px;
				color: $secondary-color;
			}
		}
		h2 {
			font-size: 1.8rem;
			font-family: $font-1;
			letter-spacing: 5px;
			color: $tertiary-color;
		}
	}
}
