@import '../../styles/variables';

.home {
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 2px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 0px $secondary-color;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $secondary-color;
		outline: 1px solid $secondary-color;
	}

	&__content {
		max-width: 350px;
		width: 93%;
		margin: 0 auto;
	}

	&__presentation {
		text-align: center;
		font-size: 0.9rem;
	}

	&__image {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: auto;
			height: 200px;
		}
	}

	&__social {
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			text-decoration: none;
		}

		svg {
			width: 40px;
			height: 40px;
		}
	}
	&__github {
		fill: $white-color;

		.layout.light & {
			fill: $primary-color;
		}
	}

	&__linkedin {
		fill: #0e76a8;
	}

	&__about-me {
		margin-bottom: 150px;
		p {
			font-size: 18px;
			line-height: 28px;
		}
	}
}

@media screen and (min-width: 768px) {
	.home {
		&__content {
			min-width: 800px;
			margin: 0 auto;
		}
	}
}
