---
import Layout from '../layout/layout.astro';
---

<Layout>
	<div class='flex items-center flex-col'>
		<div class='w-[1200px] p-2 h-[48px] rounded-xl bg-white border-solid shadow-sm mt-8'></div>
		<div class='w-full h-full'>
			<h1 class='text-7xl text-indigo-500 font-bold'>Moises Barillas</h1>
		</div>
	</div>
</Layout>
