@media (min-width: 768px) {
	.header {
		position: sticky;
		top: 0;
		height: $nav-height + 10px;
		justify-content: space-around;
		transition: $trans-1;

		&__logo {
			display: flex;
			align-items: center;
			gap: 15px;
			margin-left: 10px;
			cursor: pointer;
			text-decoration: none;
		}
		&__name {
			font-size: $size-large;
			color: $secondary-color;
			font-family: $font-1;
			letter-spacing: 1px;

			.layout.light & {
				color: $white-color;
			}
		}
		&__surname {
			font-size: $size-large;
			color: $white-color;
			font-family: $font-1;
			background-color: $secondary-color;
			border-radius: 2px;
			padding: 2px 5px 2px 5px;

			.layout.light & {
				background-color: $tertiary-color-dark;
				border-radius: 5px;
			}
		}
	}

	.nav-items {
		margin-left: -50px;
		&__item {
			align-items: center;
			flex-direction: row;
			gap: 5px;
		}

		&__list {
			width: 120px;
			cursor: pointer;

			&:nth-child(4) {
				border: 1px solid white;
				border-radius: 10px;
				padding: 5px 8px 5px 5px;
				margin-top: -5px;
				&:hover {
					border: 1px solid $secondary-color;
					transition: ease 0.5s;
				}

				.layout.light & {
					&:hover {
						border: 1px solid $tertiary-color-dark;
					}
				}
			}

			&:hover .nav-items__icon {
				color: $tertiary-color;
			}
		}

		&__text {
			position: static;
			opacity: 1;
			margin-top: 0px;
		}

		&__icon {
			transition: none;
			svg {
				width: 25px;
				height: 25px;
			}
		}

		&--active {
			.nav-items__icon {
				transform: translateY(0px);
				color: $tertiary-color;

				.layout.light & {
					color: $tertiary-color-dark;
				}
			}
			.nav-items__text {
				opacity: 1;
				color: $secondary-color;
			}
		}
	}

	.indicator {
		display: none;
	}
}
