---
interface Props {
	href: string;
	className?: string;
}

const { href, className } = Astro.props;
const isActive = Astro.url.pathname === href;
---

<li class:list={['border-solid border-secondary pl-2 pr-2 w-full', `${isActive && 'border-b-4 md:border-none'}`, `${className}`]}>
	<a
		class:list={['flex flex-col items-center md:flex-row md:gap-2 font-medium hover:text-secondary', `${isActive ? 'text-secondary' : 'text-white'}`]}
		href={href}
	>
		<slot />
	</a>
</li>
