---
interface Props {
	href: string;
}

const { href } = Astro.props;
const isActive = Astro.url.pathname === href;
---

<li class:list={['border-solid border-pink pl-2 pr-2', `${isActive && 'border-b-2 md:border-none'}`]}>
	<a class='text-white flex flex-col items-center md:flex-row md:gap-2' href={href}>
		<slot />
	</a>
</li>
