---
import Section from './Section.astro';
---

<Section>
	<footer class='flex flex-col md:flex-row items-center w-full gap-3 md:gap-0'>
		<span>
			Inspired by <a href='https://porfolio.dev/' target='_blank' class='text-blue-600' rel='noopener noreferrer'>Porfolio.dev ❤️</a>
		</span>
		<ul class='flex gap-4 md:ml-24'>
			<li>
				<a href='#home' class='text-blue-600' aria-label='Inicio'>Inicio</a>
			</li>
			<li>
				<a href='#projects' class='text-blue-600'>Proyectos</a>
			</li>
			<li>
				<a href='#skills' class='text-blue-600'>Habilidades</a>
			</li>
		</ul>
	</footer>
</Section>
