---
import Section from './Section.astro';
---

<Section>
	<footer class='flex flex-col items-center justify-center w-full'>
		<span>
			Inspired by <a href='https://porfolio.dev/' target='_blank' class='text-blue-500' rel='noopener noreferrer'>Porfolio.dev ❤️</a>
		</span>
	</footer>
</Section>
