---
import me from '@/assets/me.jpg';
import { IconEmail, IconGithub, IconLinkedin } from './icons';

const socialLiks = [
	{
		name: 'E-mail',
		href: 'mailto: moisesbarillas717@gmail.com',
		Icon: IconEmail,
	},
	{
		name: 'Github',
		href: 'https://github.com/moises717',
		Icon: IconGithub,
	},
	{
		name: 'Linkedin',
		href: 'https://www.linkedin.com/in/moises-barillas/',
		Icon: IconLinkedin,
	},
];
---

<div class='max-w-xl'>
	<div class='flex gap-4 mb-4'>
		<img src={me.src} alt='Moises Barillas' class='rounded-full shadow-lg size-16' />
		<div class='flex items-center'>
			<span class='relative inline-flex overflow-hidden rounded-full p-[1px]'>
				<span
					class='absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]'
				></span>
				<div
					class='inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap'
				>
					<span class='text-xs font-bold'>Disponible para trabajar</span>
				</div>
			</span>
		</div>
	</div>

	<h1 class='text-4xl font-bold tracking-tight text-indigo-500 sm:text-5xl'>Soy Moises Barillas</h1>

	<p class='mt-6 text-xl text-gray-800 dark:text-white'>
		Estudiante de ultimo año de Ingeniería en Sistemas, apasionado por la tecnología y el desarrollo de software.
	</p>

	<div class='flex self-start gap-2 mt-6'>
		{
			socialLiks.map(link => (
				<a
					target='_blank'
					rel='noopener noreferrer'
					href={link.href}
					class='px-4 py-2 inline-flex justify-center items-center gap-3 rounded-xl border border-neutral-600 text-neutral-700 bg-white hover:bg-gray-100 transition duration-200 dark:bg-gray-800 dark:text-white/80 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:text-white/80 dark:hover:border-gray-700'
				>
					{link.name} {<link.Icon />}
				</a>
			))
		}
	</div>
</div>
