---
import NavItem from './Header/NavItem.astro';
import { Contact, Folder, Home } from './Icons';
---

<div class='bg-primary-200 h-[60px] w-full flex justify-center items-center fixed bottom-0 md:static'>
	<div class='max-w-[1400px] flex justify-center items-center w-full'>
		<div class='hidden md:flex justify-center flex-1'>
			<a href='/'>
				<span class='text-secondary font-bold p-1 text-2xl'>MOISES</span>
				<span class='text-white font-bold text-2xl bg-secondary p-1 rounded-md'>BARILLAS</span>
			</a>
		</div>
		<div class='md:w-[60%] w-[95%] mt-auto flex-1 flex justify-center'>
			<ul class='flex w-full justify-between p-1 md:mr-auto md:w-[60%]'>
				<NavItem href='/'>
					<Home width={25} height={25} client:load /> Inicio
				</NavItem>
				<NavItem href='/projects'>
					<Folder width={25} height={25} client:load /> Proyectos
				</NavItem>
				<NavItem href='/contact'>
					<Contact width={25} height={25} client:load /> Contactar
				</NavItem>
			</ul>
		</div>
	</div>
</div>
