---
import { skills } from '@/data/skill.ts';
import Section from '@/components/Section.astro';
import SkillSection from '@/components/SkillSection.astro';

const skillList = Object.entries(skills).map(([section, list]) => ({ section, list }));

const capitalize = (str: string) => str.charAt(0).toUpperCase() + str.slice(1);
---

<Section title='Habilidades' id='skills'>
	{skillList.map(({ section, list }) => <SkillSection title={capitalize(section)} list={list} />)}
</Section>
