@import '@styles/_variables.scss';

.skills {
	margin-top: 50px;

	&__content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;

		svg {
			width: 50px;
			height: 50px;
		}

		@media (min-width: 768px) {
			svg {
				width: 60px;
				height: 60px;
			}
		}
	}
}

.rounded-card {
	border-radius: 10px;
	min-width: 120px;
	min-height: 100px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: $trans-1;

	span {
		font-size: 0.9em;
		color: white;
		font-weight: bold;
	}

	.layout.light & {
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}
}

.js {
	background-color: rgba(255, 255, 255, 0.1);
	.layout.light & {
		background-color: rgba(173, 129, 8, 0.644);
	}
}

.css {
	background-color: rgba(255, 255, 255, 0.1);
	.layout.light & {
		background-color: #153c58;
	}
}

.react {
	background-color: rgba(37, 150, 190, 0.1);
	.layout.light & {
		background-color: rgba(6, 57, 75, 0.815);
	}
}

.node {
	background-color: rgba(60, 135, 58, 0.1);
	.layout.light & {
		background-color: rgba(6, 48, 2, 0.699);
	}
}

.typescript {
	background-color: rgba(49, 120, 198, 0.1);
	.layout.light & {
		background-color: #106197;
	}
}

.html {
	background-color: rgba(202, 110, 23, 0.192);
	.layout.light & {
		background-color: rgba(202, 110, 23, 0.589);
	}
}

.electron {
	background-color: rgba(126, 183, 255, 0.1);
	.layout.light & {
		background-color: #2b2e3b;
	}
}

.mongodb {
	background-color: rgba(72, 233, 32, 0.1);
	.layout.light & {
		background-color: rgba(57, 150, 34, 0.658);
		span {
			color: rgb(8, 63, 8);
		}
	}
}

.sass {
	background-color: rgba(199, 51, 174, 0.1);
	.layout.light & {
		background-color: rgba(255, 0, 212, 0.308);
		span {
			color: rgb(173, 10, 146);
		}
	}
}

.sql {
	background: rgb(0, 185, 255);
	background: linear-gradient(
		90deg,
		rgb(17, 115, 151) 2%,
		rgba(207, 185, 64, 1) 100%,
		rgba(3, 212, 253, 1) 100%,
		rgba(2, 0, 36, 1) 100%
	);
	.layout.light & {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
.github {
	background-color: rgba(255, 255, 255, 0.1);
	svg {
		fill: white;
	}
	.layout.light & {
		background-color: #24292e;
	}
}
