---
import '@fontsource-variable/onest';
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Moises Barillas - Desarrolldor web - Javascript, Node, Html, Css React</title>
	</head>

	<body class='h-full'>
		<main class='flex items-center flex-col py-4 px-4'>
			<div class='w-full lg:max-w-4xl md:max-w-2xl h-screen relative'>
				<slot />
				<div class='circlePosition w-[150px] bg-blue-600 h-[150px] rounded-full absolute left-0 top-0 z-0 blur-[160px] md:top-36 md:right-56'></div>
				<div class='circlePosition w-[100px] bg-blue-600 h-[100px] rounded-full absolute right-0 bottom-16 z-0 blur-[100px]'></div>
			</div>
		</main>

		<style>
			html {
				font-family: 'Onest Variable', system-ui, sans-serif;
				scroll-behavior: smooth;
			}
			h2 {
				text-wrap: balance;
			}
		</style>
	</body>
</html>
