<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Moises Barillas - Desarrollador Javascript | Node | React | Css | Html</title>
	</head>
	<body>
		<main class='w-full w-max-[1224px]'>
			<slot />
		</main>
	</body>
</html>
